body {
    background-color: darkslateblue;
}

h1 {
    color: purple;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: ;
    font-family: 'Courier New', Courier, monospace;
}