body {
    height: 100vh;
    background: linear-gradient(to right, #11A0E7, #06b1be);
}

.caixa-texto {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box

}