.botoes {
    background-color: white;
    width: 400px;
    border-radius: 10px;
}

a::before {
    content: "\2733" ;
}

a::after {
    content:  "\2733";
}

body {
    background: linear-gradient(to right, #11A0E7, #06b1be) ;
}

.texto {
    background-color: white;
}